<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs Search Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>What are you looking for?</h1>
    </div>
    <div class="sc">
        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <form action="{{ url_for('search') }}" method="post">
                    <input type="text" placeholder="Search" name="query">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="results">
        {% if query %}
            <h2>Search Results for "{{ query }}"</h2>
            {% if results %}
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Document ID</th>
                            <th>Score</th>
                            <th>Title</th>
                            <th>Year</th>
                            <th>Artist</th>
                            <th>Album</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rank, doc_id, score, title, year, artist, album  in results %}
                            <tr>
                                <td>{{ rank }}</td>
                                <td>{{ doc_id }}</td>
                                <td>{{ score }}</td>
                                <td>{{ title }}</td>
                                <td>{{ year }}</td>
                                <td>{{ artist }}</td>
                                <td>{{ album }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                 <a href="{{ url_for('evaluation') }}" class="btn">View Evaluation</a>
                <form class="btn" action="{{ url_for('query_expansion') }}" method="get">
                    <button type="submit">Query Expansion</button>
                </form>
            {% else %}
                <p>No results found.</p>
            {% endif %}
        {% endif %}
    </div>
    {% if expanded_terms %}
    <div class="expanded-query">
        <h2>Search Results for "{{ query }}"</h2>
        <h2>Expanded Query Terms</h2>
        <table>
            <thead>
                <tr>
                    <th>Term</th>
                </tr>
            </thead>
            <tbody>
                {% for term in expanded_terms %}
                    <tr>
                        <td>{{ term }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if before_expansion or after_expansion %}
    <div class="expansion-results">
        <h2>Expansion Results</h2>
        <div class="before-expansion">
            <h3>Before Expansion</h3>
            <table>
                <thead>
                    <tr>
                        <th>DocID</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for docid, score in before_expansion %}
                        <tr>
                            <td>{{ docid }}</td>
                            <td>{{ score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="after-expansion">
            <h3>After Expansion</h3>
            <table>
                <thead>
                    <tr>
                        <th>DocID</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for docid, score in after_expansion %}
                        <tr>
                            <td>{{ docid }}</td>
                            <td>{{ score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <script>
        const icon = document.querySelector('.icon');
        const search = document.querySelector('.search')
        icon.onclick = function(){
            search.classList.toggle('active')
        }
    </script>
</body>
</html>
